@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;0,700;1,400&display=swap');

:root {
    /* Primary */
    --Moderate-blue: hsl(238, 40%, 52%);
    --Soft-Red: hsl(358, 79%, 66%);
    --Light-grayish-blue: hsl(239, 57%, 85%);
    --Pale-red: hsl(357, 100%, 86%);

    /* Neutral */
    --Dark-blue: hsl(212, 24%, 26%); 
    --Grayish-Blue: hsl(211, 10%, 45%); 
    --Light-gray: hsl(223, 19%, 93%); 
    --Very-light-gray: hsl(228, 33%, 97%); 
    --White: hsl(0, 0%, 100%);

    /* Font weight */
    --font-weight_normal: 400;
    --font-weight_bold: 500;
    --font-weight_bolder: 700;

    /* Font base */
    --font-base: 'Rubik', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background-color: var(--Very-light-gray);
    font-family: var(--font-base);
    /* position: relative; */
}

.main {
    width: 45%;
    margin: 2rem auto;
}


.comment {
    width: 100%;
    /* min-height: 50vh; */
    position: relative;
}

.delete_modal {
    width: 100%;
    height: 100%;
    /* position: relative; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center;
    pointer-events: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transform: scale(1.2);
    transition: all 0.3s ease-in-out; */
    /* z-index: 1000; */
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0.8;
}

.modal_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.modal_content {
    padding: 1.5rem;
    width: 17rem;
    background-color: var(--White);
    border-radius: 5px;
    z-index: 10000;
}

.modal_content h2 {
    font-size: 1rem;
    color: black;
    font-weight: var(--font-weight_bolder);
}

.modal_content p {
    font-size: 0.8rem;
    margin: 15px 0;
    line-height: 1.2rem;
}

.modal_btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal_btns button {
    border: none;
    font-size: 0.75rem;
    padding: 8px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    color: var(--White);
    background-color: var(--Grayish-Blue);
    cursor: pointer;
}

.modal_btns .continue {
    background-color: var(--Soft-Red);
}


.delete_modal.visible {
    display: block;
}


.comment_contents,
.comment_form,
.reply_contents, .reply_form {
    width: 100%;
    display: flex;
    background-color: var(--White);
    padding: 1.5rem;
    border-radius: 5px;
    margin-top: 15px;
}

.scores_big, .scores_mobile {
    background-color: var(--Very-light-gray);
    padding: 5px 10px;
    border-radius: 6px;
    margin-right: 20px;
    height: fit-content;
}

.scores_mobile {
    display: none;
}

.upvote, .downvote {
    cursor: pointer;
}

.score {
    margin: 10px 0 5px 0;
    color: var(--Moderate-blue);
    font-size: 0.8rem;
}

.comment_contents, .content, .reply_content {
    width: 100%;
}


.comment_head, .reply_head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.comment_head > div, .reply_head > div {
    display: flex;
    align-items: center;
}

.img {
    width: 1.7rem;
    margin-right: 15px;
}


.name {
    margin-right: 15px;
    font-size: 0.9rem;
    color: var(--Dark-blue);
}

.date {
    font-size: 0.8rem;
    color: var(--Grayish-Blue);
    font-weight: var(--font-weight_normal);
}



.reply_btn {
    font-size: 0.8rem;
    font-weight: var(--font-weight_normal);
    color: var(--Moderate-blue);
    cursor: pointer;
}

.mobile_view .reply_btn, .mobile_view .reply__btn, .mobile_view .btns {
    display: none;
}


.comment_body p, .reply_body p {
    width: 100%;
    font-size: 0.8rem;
    line-height: 1.3rem;
    font-weight: normal;
    color: var(--Grayish-Blue);
    /* background-color: red; */
}


.reply_form, .update_form {
    width: 100%;
    margin-top: 5px;
    display: none;
    /* background-color: red; */
}


.reply_form.visible, .update_form.visible {
    width: 100%;
    display: block;
}


.replies_container, .replies_container_new {
    width: 100%;
    display: flex;
    align-items: center;
    /* min-height: 25vh; */
}

.replies {
    width: 100%;
    /* display: flex;
    align-items: center; */
    /* justify-content: center; */
    /* margin-top: 20px; */
    
}


.border {
    width: 2px;
    height: 100%;
    /* min-height: 50vh; */
    background-color: var(--Light-gray);
    margin: 0 2.2rem 0 2.5rem;
}



.reply_contents {
    width: 100%;
}


.reply_content {
    width: 100%;
    height: 100%;
}

/* .reply {
    margin: 5px 0 5px 0;
} */

.name span {
    background-color: var(--Moderate-blue);
    padding: 1px 5px;
    font-size: 0.6rem;
    color: var(--White);
    border-radius: 3px;
    margin-left: 4px;
}

.reply_body {
    width: 100%;
}

.reply_body span {
    color: var(--Moderate-blue);
}

.reply_delete, .reply_edit, .comment_delete, .comment_edit {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.reply_edit:hover,
.comment_edit:hover, .reply_btn:hover {
    color: var(--Light-grayish-blue);
}

.reply_delete:hover,  .comment_delete:hover {
    color: var(--Pale-red);
}


.btns p {
    font-size: 0.8rem;
}

.reply_delete, .comment_delete {
    margin-right: 20px;
    color: var(--Soft-Red);
}

.reply_edit, .comment_edit {
    color: var(--Moderate-blue);
}


.form {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: yellow; */
}

.form textarea {
    width: 100%;
    height: 4.5rem;
    border: 1px solid var(--Light-gray);
    border-radius: 5px;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: var(--font-weight_bold);
    outline: none;
}

.form textarea:focus {
    border: 1px solid black;
    cursor: pointer;
}

.form textarea:hover {
    cursor: pointer;
}

.send, .reply__btn, .update__btn {
    padding: 7px 15px;
    border-radius: 5px;
    background-color: var(--Moderate-blue);
    text-transform: uppercase;
    color: var(--White);
    border: none;
    font-size: 0.75rem;
    font-weight: var(--font-weight_bold);
    margin-left: 20px;
    font-weight: var(--font-weight_bold);
    cursor: pointer;
}

.send:hover, .reply__btn:hover, .update__btn:hover {
    background-color: var(--Light-grayish-blue);
}

.mobile_view .send,
.mobile_view .commenter {
    display: none;
}



/* Mobile Devices :: Media Queries */
@media screen and (min-width : 320px) and (max-width : 480px) {
    .main {
        width: 95%;
    }

    .comment_contents, .reply_contents {
        flex-direction: column;
    }

    .replies_container {
        flex-direction: column;
        width: 95%;
        /* margin: 0 auto; */
        margin-left: 1rem;
        position: relative;
        right: 0;
    }

    .scores_big {
        display: none;
    }

    .comment_head .reply_btn, .reply_head .reply_btn, .comment_head .btns, .reply_head .btns {
        display: none;
    }

    .scores_mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 6rem;
        padding: 7px;
        position: relative;
    }

    .downvote {
        position: relative;
        bottom: 3px;
        right: 0;
    }

    .score {
        margin: 0;
        font-size: 0.95rem;
    }

    .mobile_view .reply_btn, .mobile_view .btns {
        display: flex;
    }

    

    .mobile_view {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        /* background-color: red; */
    }


    .border {
        display: none;
    }

    .form {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .form textarea {
        width: 100%;
        height: 7rem;
        margin-bottom: 20px;
    }

    .send,
    .reply__btn,
    .update__btn {
        margin-left: 0;
        font-size: 0.85rem;
    }

    .send, .commenter, .reply__btn {
        display: none;
    }

    .mobile_view .send, .mobile_view .commenter,
    .mobile_view .reply__btn {
        display: block;
    }

}

